<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device=width, initial-scale=1.0">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/minty/bootstrap.min.css"
        rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
<header class="header container-lg" th:fragment="projectheader">
  <div class="row justify-content-between">
    <div class="col-4">
      <a href="#"><img src="/img/logo.png" alt="title_logo" style="height: 200px"></a>
    </div>
    <div class="col-6 row align-items-center justify-content-end">
      <ul class="list-group list-group-horizontal list-group-flush">
        <li class="list-group-item"><a href="#" class="nav-link"><i class="fa-solid fa-lock"></i> 로그인</a></li>
        <li class="list-group-item"><a href="#" class="nav-link"><i class="fa-solid fa-user-plus"></i> 회원가입</a></li>
        <li class="list-group-item"><a href="#" class="nav-link"><i class="fa-regular fa-circle-user"></i> MY Page</a></li>
        <li class="list-group-item"><a href="#" class="nav-link"><i class="fa-solid fa-headset"></i> 1:1 문의</a></li>
      </ul>
    </div>
  </div>
</header>
</body>
</html>