<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="/css/font.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

  <style>
      .star {
          position: relative;
          font-size: 50px;
          color: #ddd;
      }

      .star input {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          opacity: 0;
      }

      .star span {
          width: 0;
          position: absolute;
          left: 0;
          color: gold;
          overflow: hidden;
          pointer-events: none;
      }

      .star_box {
          width: 400px;
          box-sizing: border-box;
          display: inline-block;
          margin: 15px 0;
          background: #F3F4F8;
          border: 0;
          border-radius: 10px;
          height: 100px;
          resize: none;
          padding: 15px;
          font-size: 13px;
          font-family: sans-serif;
      }

      .btn02 {
          display: block;
          width: 400px;
          font-weight: bold;
          border: 0;
          border-radius: 10px;
          max-height: 50px;
          padding: 15px 0;
          font-size: 1.1em;
          text-align: center;
          background: bisque;
      }

      .reviewStar {
          color: gold;
          text-shadow: 1px 1px black;
          /*-webkit-text-stroke: 1px black;*/
      }
  </style>
  <script>
      $(document).ready(function () {
          const reviewPlaceIdx = $(".hiddenPlaceIdx").val();

          // $(".reviewOk").on("click", function () {
          //     const review = $("#reviewBox").val();
          //     console.log(review);
          //     const star = $("#drawStarContainer").val() * 0.5;
          //     console.log(star);
          // });

          // 리뷰 쓰기
          $(".reviewSubmit").on("click", function () {
              const reviewWrite = $("#reviewBox").val();
              console.log(reviewWrite);
              const reviewStar = $("#drawStarContainer").val() * 0.5;
              console.log(reviewStar);
              console.log(reviewPlaceIdx);

              $.ajax({
                  url: `/review/write/${reviewPlaceIdx}/${reviewWrite}/${reviewStar}`,
                  type: `get`,
                  data: {
                      "reviewPlaceIdx": reviewPlaceIdx,
                      "reviewWrite": reviewWrite,
                      "reviewStar": reviewStar
                  },
                  success: function () {
                      alert("리뷰 작성 완료");
                      location.reload();
                  },
                  error: function () {
                      console.log("리뷰 작성 실패");
                  }
              })
          });

          // 리뷰 보기
          $.ajax({
              url: `/review/read/${reviewPlaceIdx}`,
              type: 'get',
              success: function (data) {
                  let reviewShowContainer = $(".reviewShowContainer");
                  reviewShowContainer.empty();

                  data.forEach(review => {
                      console.log(review);

                      // 별점 동적 생성
                      let fullStars = Math.floor(review.star); // 꽉 찬 별 개수
                      let halfStar = review.star % 1 !== 0 ? 1 : 0; // 반쪽 별 개수
                      let emptyStars = 5 - fullStars - halfStar; // 빈 별 개수

                      let starsHtml = "";
                      for (let i = 0; i < fullStars; i++) starsHtml += `<i class="fa-solid fa-star reviewStar"></i>`; // 꽉 찬 별
                      if (halfStar) starsHtml += `<i class="fa-solid fa-star-half-stroke reviewStar"></i>`; // 반쪽 별
                      for (let i = 0; i < emptyStars; i++) starsHtml += `<i class="fa-regular fa-star reviewStar"></i>`; // 빈 별

                      let html = `<div class="reviewListContainer row py-3">`
                      html += `<input type="hidden" class="reviewIdx" value="${review.reviewIdx}"></input>`
                      html += `<input type="hidden" class="reviewUserIdx" value=${review.reviewUserIdx}></input>`
                      html += `<span><i class="fa-regular fa-user"></i> <span class="reviewUserId">${review.reviewUserId}</span> `;
                      html += ` <span>${starsHtml}</span></span><br>`;
                      html += `<span><span class="reviewComment" style="word-wrap: break-word">${review.comment}</span></span><br>`;
                      html += `<div><button type="button" class="reviewDeleteButton btn btn-outline-danger btn-sm float-end">삭제</button><br></div>`;
                      html += `</div>`

                      reviewShowContainer.append(html);
                  });
              }
          });

          //리뷰 삭제
          $(document).on("click", ".reviewDeleteButton", function () {
              console.log("리뷰 삭제 누름");
              let reviewIdx = $(this).closest("div").find(".reviewIdx").val();
              console.log(reviewIdx);
              let reviewUserIdx = $(this).closest("div").find(".reviewUserIdx").val();
              console.log("쓴 사람 : " + reviewUserIdx);

              $.ajax({
                  url: `/review/delete/${reviewIdx}`,
                  type: `delete`,
                  data: {"reviewUserIdx": reviewUserIdx},
                  success: function () {
                      // console.log("reviewDelete");
                      alert("리뷰 삭제 완료");
                      location.reload();
                  },
                  error: function (xhr) {
                      if (xhr.status === 403) {
                          alert(xhr.responseText);
                      } else {
                          alert("리뷰 삭제 중 오류");
                      }
                  }
              })
          })
      });
  </script>

</head>
<body>
<div th:replace="~{/layout/header :: projectheader}"></div>

<!-- 메인 사진 -->
<section class="container mt-5">
  <div th:each="placeDetail : ${placeDetailList}">
    <div class="row justify-content-center">
      <div class="container">
        <h3 class="mt-3" style="font-weight: bold;" th:text="${placeDetail.name}">업체 이름</h3>
      </div>

      <div class="mt-3 row justify-content-between">
        <div class="mainImage col-5" th:each="placeImage : ${placeDetail.placeImageEntityList}">
          <img class="rounded" th:src="|/${placeImage.imagePath}${placeImage.imageName}|" alt="이미지"
               style="width: 400px; height: 200px;">
        </div>
        <div class="col-7">
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-3 border-end"><i class="fa-solid fa-house"></i> 주소</div>
            <input type="hidden" th:value="${placeDetail.placeIdx}" class="hiddenPlaceIdx">
            <div class="col-auto" th:text="${placeDetail.address}">부산광역시</div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-3 border-end"><i class="fa-solid fa-dice"></i> 카테고리</div>
            <div class="col-auto">방탈출</div>
          </div>
          <div class="row row-cols-3" style="margin-bottom: 15px;">
            <div class="col-3 border-end"><i class="fa-regular fa-clock"></i> 운영시간</div>
            <div class="col-auto" th:text="|개점 : ${placeDetail.openTime}|">개점 : </div>
          </div>
          <div class="row row-cols-3" style="margin-bottom: 20px;">
            <div class="col-3 border-end"></div>
            <div class="col-auto" th:text="|폐점 : ${placeDetail.closeTime}|">폐점 : </div>
          </div>
          <div class="row row-cols-2" style="margin-bottom: 15px;">
            <div class="col-3 border-end"><i class="fa-solid fa-phone"></i> 연락처</div>
            <div class="col-auto" th:text="${placeDetail.phone}">00000000</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!--&lt;!&ndash; 상세 설명 &ndash;&gt;-->
<!--<section class="container mt-5" th:each="placeDetail : ${placeDetailList}">-->
<!--  <div style="margin-left: 15px;">-->

<!--    <div class="row py-3 border-top border-bottom">-->
<!--      <div class="col-2 border-end"><i class="fa-solid fa-house"></i>주소</div>-->
<!--      <input type="hidden" th:value="${placeDetail.placeIdx}" class="hiddenPlaceIdx">-->
<!--      <div class="col-4 border-end" th:text="${placeDetail.address}">부산광역시</div>-->
<!--      <div class="col-2 border-end"><i class="fa-solid fa-dice"></i> 카테고리</div>-->
<!--      <div class="col-2">방탈출</div>-->
<!--    </div>-->

<!--    <div class="row py-3 border-bottom">-->
<!--      <div class="col-2 border-end"><i class="fa-regular fa-clock"></i> 운영시간</div>-->
<!--      <div class="col-2 border-end" th:text="|개점 : ${placeDetail.openTime}|">10:00</div>-->
<!--      <div class="col-2 border-end" th:text="|폐점 : ${placeDetail.closeTime}|">10:00</div>-->
<!--      <div class="col-2 border-end"><i class="fa-solid fa-phone"></i> 연락처</div>-->
<!--      <div class="col-4 " th:text="${placeDetail.phone}">00000-0000</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!-- 리뷰 부분 -->
<section class="container mt-5">
  <div style="margin-top: 150px;">
    <div class="row justify-content-between align-items-end border-bottom py-2">
      <div class="col-auto"><h5>리뷰 & 평가</h5></div>
    </div>

    <!--리뷰 내용 보기-->
    <div class="reviewShowContainer">
    </div>

    <!--리뷰 쓰기-->
    <form>
      <input type="hidden" id="rating" name="rating">
      <div class="row">
        <div class="reviewWriteContainer">
          <form action="#" class="reviewForm" id="reviewWrite">
            <!--별 5개. 0 에서 10 까지의 값을 하나씩 출력할 수 있음. range 변형-->
            <div class="star_rating" style="text-align: center">
              <span class="star">★★★★★<span>★★★★★</span>
                <input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10" id="drawStarContainer">
              </span>
            </div>
            <!--평가 내용-->
            <div class="row mt-3">
              <textarea class="rounded-2" id="reviewBox" placeholder="리뷰 내용을 작성해주세요."></textarea>
              <div class="text-end py-3">
                <input type="button" class="btn btn-outline-dark reviewSubmit" value="등록">
              </div>
            </div>
          </form>
        </div>
      </div>

      <script>
          const drawStar = (target) => {
              $(`.star span`).css({width: `${target.value * 10}%`});
          }
      </script>
    </form>
  </div>
</section>


<nav class="navbar" id="right-nav">
  <div class="rounded" style="width: 170px; padding: 10px; margin-left: 20px;">
    <div class="text-center mt-3">
      <button type="button" class="border-0 btn btn-danger">
        <a href="/templates/board/crewPage.html" class="font-weight-bold text-light text-decoration-none">파티 구함<i
            class="fa-solid fa-fire"></i></a>
      </button>
    </div>
    <div class="mt-3">
      <p class="text-center mt-4">이런 활동 어떠세요?</p>
      <div>
        <div>
          <img src="/img/climbing.jpg" alt="climbing-img"
               style="width: 88px; border-radius: 5px; margin-right: 5px;"></div>
        <div>
          <a href="#" style="text-decoration: none;">
            <span style="font-size: small;">웨이브락 클라이밍 서면점</span></a>
          <p style="margin-bottom: 0;"><a href="#" class="text-dark" style="text-decoration: none; font-size: small;"><p
              style="margin-bottom: 0;">22:30 영업 종료</p>
            <p>부산 진구 부전동</p></a></p>
        </div>
      </div>
      <div>
        <div>
          <img src="/img/climbing.jpg" alt="climbing-img"
               style="width: 88px; border-radius: 5px; margin-right: 5px;"></div>
        <div>
          <a href="#" style="text-decoration: none;">
            <span style="font-size: small;">웨이브락 클라이밍 서면점</span></a>
          <p style="margin-bottom: 0;"><a href="#" class="text-dark" style="text-decoration: none; font-size: small;"><p
              style="margin-bottom: 0;">22:30 영업 종료</p>
            <p>부산 진구 부전동</p></a></p>
        </div>
      </div>
      <div>
        <div>
          <img src="/img/climbing.jpg" alt="climbing-img"
               style="width: 88px; border-radius: 5px; margin-right: 5px;"></div>
        <div>
          <a href="#" style="text-decoration: none;">
            <span style="font-size: small;">웨이브락 클라이밍 서면점</span></a>
          <p style="margin-bottom: 0;"><a href="#" class="text-dark" style="text-decoration: none; font-size: small;"><p
              style="margin-bottom: 0;">22:30 영업 종료</p>
            <p>부산 진구 부전동</p></a></p>
        </div>
      </div>
      <div>
        <div>
          <img src="/img/climbing.jpg" alt="climbing-img"
               style="width: 88px; border-radius: 5px; margin-right: 5px;"></div>
        <div>
          <a href="#" style="text-decoration: none;">
            <span style="font-size: small;">웨이브락 클라이밍 서면점</span></a>
          <p style="margin-bottom: 0;"><a href="#" class="text-dark" style="text-decoration: none; font-size: small;"><p
              style="margin-bottom: 0;">22:30 영업 종료</p>
            <p>부산 진구 부전동</p></a></p>
        </div>
      </div>
    </div>
  </div>
</nav>

<div th:replace="~{/layout/footer :: projectfooter}"></div>
</body>
</html>