<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>장소 추천 테스트용</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
          integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
          crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>
  <script>
      $(document).ready(function () {
          // 공지사항 쓰기
          $(".noticeWriteSubmit").on("click", function (event) {
              event.preventDefault();

              const noticeTitle = $("#noticeTitle").val();
              const noticeContents = $("#noticeContents").val();
              console.log("제목 : " + noticeTitle);
              console.log("내용 : " + noticeContents);

              $.ajax({
                  url: 'notice/write',
                  type: 'post',
                  data: {"noticeTitle": noticeTitle, "noticeContents": noticeContents},
                  success: function () {
                      alert("공지 등록 완료");
                      location.reload();
                  },
                  error: function () {
                      alert("공지 등록 완료");
                  }
              });
          });

          // 공지사항 수정
          $(".noticeUpdateSubmit").on("click", function (event) {
              event.preventDefault();

              const parentForm = $(this).closest("form");

              const noticeTitleUpdate = parentForm.find(".noticeTitleUpdate").val();
              const noticeContentsUpdate = parentForm.find(".noticeContentsUpdate").val();
              const noticeNumberUpdate = parentForm.find(".noticeNumberUpdate").val();

              console.log("제목 : " + noticeTitleUpdate);
              console.log("내용 : " + noticeContentsUpdate);
              console.log("글번호 : " + noticeNumberUpdate);

              $.ajax({
                  url: 'notice/update',
                  type: 'put',
                  data: {
                      "noticeTitleUpdate": noticeTitleUpdate,
                      "noticeContentsUpdate": noticeContentsUpdate,
                      "noticeNumberUpdate": noticeNumberUpdate
                  },
                  success: function () {
                      alert("공지 수정 완료");
                      location.reload();
                  },
                  error: function () {
                      alert("ajax 중 오류");
                  }
              });
          });

          //공지사항 삭제
          $(".noticeDeleteSubmit").on("click", function (event) {
              event.preventDefault();

              const parentForm = $(this).closest("form");

              const noticeTitleDelete = parentForm.find(".noticeTitleDelete").val();
              const noticeContentsDelete = parentForm.find(".noticeContentsDelete").val();
              const noticeNumberDelete = parentForm.find(".noticeNumberDelete").val();

              console.log("제목 : " + noticeTitleDelete);
              console.log("내용 : " + noticeContentsDelete);
              console.log("글번호 : " + noticeNumberDelete);

              $.ajax({
                  url: 'notice/delete',
                  type: 'delete',
                  data: {
                      "noticeTitleDelete": noticeTitleDelete,
                      "noticeContentsDelete": noticeContentsDelete,
                      "noticeNumberDelete": noticeNumberDelete
                  },
                  success: function () {
                      alert("공지 삭제 완료");
                      location.reload();
                  },
                  error: function () {
                      alert("ajax 중 오류");
                  }
              });
          });

          // 이벤트 쓰기
          $(".eventWriteSubmit").on("click", function (event) {
              event.preventDefault();

              const eventTitleCreate = $("#eventTitleCreate").val();
              const eventContentsCreate = $("#eventContentsCreate").val();
              console.log("제목 : " + eventTitleCreate);
              console.log("내용 : " + eventContentsCreate);

              $.ajax({
                  url: 'event/write',
                  type: 'post',
                  data: {"eventTitleCreate": eventTitleCreate, "eventContentsCreate": eventContentsCreate},
                  success: function () {
                      alert("이벤트 등록 완료");
                      location.reload();
                  },
                  error: function () {
                      alert("이벤트 등록 중 오류");
                      // location.reload();
                  }
              });
          });

          // 이벤트 수정
          $(".eventUpdateSubmit").on("click", function (event) {
              event.preventDefault();

              const parentForm = $(this).closest("form");

              const eventTitleUpdate = parentForm.find(".eventTitleUpdate").val();
              const eventContentsUpdate = parentForm.find(".eventContentsUpdate").val();
              const eventNumberUpdate = parentForm.find(".eventNumberUpdate").val();

              console.log("제목 : " + eventTitleUpdate);
              console.log("내용 : " + eventContentsUpdate);
              console.log("글번호 : " + eventNumberUpdate);

              $.ajax({
                  url: 'event/update',
                  type: 'put',
                  data: {
                      "eventTitleUpdate": eventTitleUpdate,
                      "eventContentsUpdate": eventContentsUpdate,
                      "eventNumberUpdate": eventNumberUpdate
                  },
                  success: function () {
                      alert("이벤트 수정 완료");
                      location.reload();
                  },
                  error: function () {
                      alert("이벤트 수정 주 오류");
                      // location.reload();
                  }
              });
          });

          // 이벤트 삭제
          $(".eventDeleteSubmit").on("click", function (event) {
              event.preventDefault();

              const parentForm = $(this).closest("form");

              const eventNumberDelete = parentForm.find(".eventNumberDelete").val();

              console.log("글번호 : " + eventNumberDelete);

              $.ajax({
                  url: 'event/delete',
                  type: 'delete',
                  data: {
                      "eventNumberDelete": eventNumberDelete
                  },
                  success: function () {
                      alert("이벤트 삭제 완료");
                      location.reload();
                  },
                  error: function () {
                      alert("이벤트 삭제 중 오류");
                      // location.reload();
                  }
              });
          });

          // 인원 모집 쓰기
          $(".crewWriteSubmit").on("click", function (event) {
              event.preventDefault();

              const crewTitleCreate = $("#crewTitleCreate").val();
              const crewContentsCreate = $("#crewContentsCreate").val();
              console.log("제목 : " + crewTitleCreate);
              console.log("내용 : " + crewContentsCreate);

              $.ajax({
                  url: 'crew/write',
                  type: 'post',
                  data: {"crewTitleCreate": crewTitleCreate, "crewContentsCreate": crewContentsCreate},
                  success: function () {
                      alert("인원 모집 등록 완료");
                      location.reload();
                  },
                  error: function () {
                      alert("인원 모집 등록 중 오류");
                  }
              });
          });

          // 인원 모집 수정
          $(".crewUpdateSubmit").on("click", function (event) {
              event.preventDefault();

              const parentForm = $(this).closest("form");

              const crewTitleUpdate = parentForm.find(".crewTitleUpdate").val();
              const crewContentsUpdate = parentForm.find(".crewContentsUpdate").val();
              const crewNumberUpdate = parentForm.find(".crewNumberUpdate").val();

              console.log("제목 : " + crewTitleUpdate);
              console.log("내용 : " + crewContentsUpdate);
              console.log("글번호 : " + crewNumberUpdate);

              $.ajax({
                  url: 'crew/update',
                  type: 'put',
                  data: {
                      "crewTitleUpdate": crewTitleUpdate,
                      "crewContentsUpdate": crewContentsUpdate,
                      "crewNumberUpdate": crewNumberUpdate
                  },
                  success: function () {
                      alert("인원 모집 수정 완료");
                      location.reload();
                  },
                  error: function () {
                      alert("인원 모집 수정 주 오류");
                      // location.reload();
                  }
              });
          });

          // 인원 모집 삭제
          $(".crewDeleteSubmit").on("click", function (event) {
              event.preventDefault();

              const parentForm = $(this).closest("form");

              const crewNumberDelete = parentForm.find(".crewNumberDelete").val();

              console.log("글번호 : " + crewNumberDelete);

              $.ajax({
                  url: 'crew/delete',
                  type: 'delete',
                  data: {
                      "crewNumberDelete": crewNumberDelete
                  },
                  success: function () {
                      alert("인원 모집 삭제 완료");
                      location.reload();
                  },
                  error: function () {
                      alert("인원 모집 삭제 중 오류");
                      // location.reload();
                  }
              });
          });
      })
  </script>
</head>
<body>
<!--<form action="/board/notice/write" method="post">-->
<!--  <label for="location">지역</label>-->
<!--  <select name="location" id="location">-->
<!--    <option value="" selected>선택</option>-->
<!--    <option value="부산진구">부산진구</option>-->
<!--  </select>-->
<!--  <br>-->
<!--  <label for="age">나이</label>-->
<!--  <select name="age" id="age">-->
<!--    <option value="" selected>선택</option>-->
<!--    <option value="0">미취학 아동</option>-->
<!--    <option value="10">10대</option>-->
<!--    <option value="20">20대</option>-->
<!--    <option value="30">30대</option>-->
<!--    <option value="40">40대</option>-->
<!--    <option value="50">50대</option>-->
<!--  </select>-->
<!--  <br>-->
<!--  <label for="person">인원 수</label>-->
<!--  <select name="person" id="person">-->
<!--    <option value="" selected>선택</option>-->
<!--    <option value="1">1명</option>-->
<!--    <option value="2">2명</option>-->
<!--    <option value="4">4명 이상</option>-->
<!--  </select>-->
<!--  <br>-->
<!--  <button type="submit">확인</button>-->
<!--  <button type="reset">취소</button>-->
<!--</form>-->

<br>
<hr>
<br>

<h1>추천</h1>
<div class="d-flex p-2" th:each="placeStar : ${placeStarList}">
  <div class="nemo" style="height: 300px; width: 300px; border: 1px solid black;">
    <p th:text="${placeStar.placeName}" th:value="${placeStar.placeName}"></p>
    <p th:text="${placeStar.averageStar}" th:value="${placeStar.averageStar}"></p>
  </div>
</div>

<br>
<hr>
<br>

<h1>공지사항 crud</h1>
<div>
  <h3>create</h3>
  <form action="#" th:action="@{/board/notice/write}" th:method="post">
    <label for="noticeTitle">제목</label>
    <input type="text" name="noticeTitle" id="noticeTitle">
    <label for="noticeContents">내용</label>
    <textarea name="noticeContents" id="noticeContents"></textarea>
    <button type="submit" class="noticeWriteSubmit">등록</button>
    <button type="reset" class="noticeWriteReset">취소</button>
  </form>
  <br>
  <h3>read</h3>
  <div th:each="findNotice : ${findNoticeList}">
    <h5 th:text="|공지사항 글 번호 : ${findNotice.getBoard_idx()}|"></h5>
    <p th:text="|공지사항 제목 : ${findNotice.title}|"></p>
    <p th:text="|공지사항 내용 : ${findNotice.contents}|"></p>
  </div>
  <br>
  <h3>update</h3>
  <form action="#" th:action="@{/board/notice/update}" th:each="findNotice : ${findNoticeList}">
    <label for="noticeNumberUpdate">글번호</label>
    <input type="text" name="noticeNumberUpdate" id="noticeNumberUpdate" class="noticeNumberUpdate"
           th:value="${findNotice.board_idx}" readonly>
    <label for="noticeTitleUpdate">제목</label>
    <input type="text" name="noticeTitleUpdate" id="noticeTitleUpdate" class="noticeTitleUpdate"
           th:value="${findNotice.title}">
    <label for="noticeContentsUpdate">내용</label>
    <textarea name="noticeContentsUpdate" id="noticeContentsUpdate" class="noticeContentsUpdate"
              th:text="${findNotice.contents}"></textarea>
    <button type="button" class="noticeUpdateSubmit">수정</button>
    <button type="reset" class="noticeUpdateReset">취소</button>
  </form>
  <br>
  <h3>delete</h3>
  <form action="#" th:action="@{/board/notice/delete}" th:method="delete" th:each="findNotice : ${findNoticeList}">
    <label for="noticeNumberDelete">글번호</label>
    <input type="text" name="noticeNumberDelete" id="noticeNumberDelete" class="noticeNumberDelete"
           th:value="${findNotice.getBoard_idx()}"
           readonly>
    <label for="noticeTitleDelete">제목</label>
    <input type="text" name="noticeTitleDelete" id="noticeTitleDelete" class="noticeTitleDelete"
           th:value="${findNotice.title}">
    <label for="noticeContentsDelete">내용</label>
    <textarea name="noticeContentsDelete" id="noticeContentsDelete" class="noticeContentsDelete"
              th:text="${findNotice.contents}"></textarea>
    <button type="submit" class="noticeDeleteSubmit">삭제</button>
  </form>
</div>

<br>
<hr>
<br>

<h1>이벤트 crud</h1>
<div>
  <h3>create</h3>
  <form action="#" th:action="@{/board/event/write}" th:method="post">
    <label for="eventTitleCreate">제목</label>
    <input type="text" name="eventTitleCreate" id="eventTitleCreate">
    <label for="eventContentsCreate">내용</label>
    <textarea name="eventContentsCreate" id="eventContentsCreate"></textarea>
    <button type="submit" class="eventWriteSubmit">등록</button>
    <button type="reset" class="eventWriteReset">취소</button>
  </form>
  <br>
  <h3>read</h3>
  <div th:each="findEvent : ${findEventList}">
    <h5 th:text="|이벤트 글 번호 : ${findEvent.getBoard_idx()}|"></h5>
    <p th:text="|이벤트 제목 : ${findEvent.title}|"></p>
    <p th:text="|이벤트 내용 : ${findEvent.contents}|"></p>
  </div>
  <br>
  <h3>update</h3>
  <form action="#" th:action="@{/board/event/update}" th:method="put" th:each="findEvent : ${findEventList}">
    <label for="eventNumberUpdate">글번호</label>
    <input type="text" name="eventNumberUpdate" id="eventNumberUpdate" class="eventNumberUpdate"
           th:value="${findEvent.getBoard_idx()}"
           readonly>
    <label for="eventTitleUpdate">제목</label>
    <input type="text" name="eventTitleUpdate" id="eventTitleUpdate" class="eventTitleUpdate"
           th:value="${findEvent.title}">
    <label for="eventContentsUpdate">내용</label>
    <textarea name="eventContentsUpdate" id="eventContentsUpdate" class="eventContentsUpdate"
              th:text="${findEvent.contents}"></textarea>
    <button type="submit" class="eventUpdateSubmit">수정</button>
    <button type="reset" class="eventUpdateReset">취소</button>
  </form>
  <br>
  <h3>delete</h3>
  <form action="#" th:action="@{/board/event/delete}" th:method="delete" th:each="findEvent : ${findEventList}">
    <label for="eventNumberDelete">글번호</label>
    <input type="text" name="eventNumberDelete" id="eventNumberDelete" class="eventNumberDelete"
           th:value="${findEvent.getBoard_idx()}"
           readonly>
    <label for="eventTitleDelete">제목</label>
    <input type="text" name="eventTitleDelete" id="eventTitleDelete" class="eventTitleDelete"
           th:value="${findEvent.title}">
    <label for="eventContentsDelete">내용</label>
    <textarea name="eventContentsDelete" id="eventContentsDelete" class="eventContentsDelete"
              th:text="${findEvent.contents}"></textarea>
    <button type="submit" class="eventDeleteSubmit">삭제</button>
  </form>
</div>

<br>
<hr>
<br>

<h1>게시판 crud</h1>
<div>
  <h3>create</h3>
  <form action="#" th:method="post" th:action="@{/board/crew/write}">
    <label for="crewTitleCreate">제목</label>
    <input type="text" name="crewTitleCreate" id="crewTitleCreate">
    <label for="crewContentsCreate">내용</label>
    <textarea name="crewContentsCreate" id="crewContentsCreate"></textarea>
    <button type="submit" class="crewWriteSubmit">등록</button>
    <button type="reset" class="crewWriteReset">취소</button>
  </form>
  <br>
  <h3>read</h3>
  <div th:each="findCrew : ${findCrewList}">
    <h5 th:text="|인원모집 글 번호 : ${findCrew.getBoard_idx()}|"></h5>
    <p th:text="|인원모집 제목 : ${findCrew.title}|"></p>
    <p th:text="|인원모집 내용 : ${findCrew.contents}|"></p>
  </div>
  <br>
  <h3>update</h3>
  <form action="#" th:method="put" th:action="@{/board/crew/update}" th:each="findCrew : ${findCrewList}">
    <label for="crewNumberUpdate">글번호</label>
    <input type="text" name="crewNumberUpdate" id="crewNumberUpdate" class="crewNumberUpdate"
           th:value="${findCrew.getBoard_idx()}"
           readonly>
    <label for="crewTitleUpdate">제목</label>
    <input type="text" name="crewTitleUpdate" id="crewTitleUpdate" class="crewTitleUpdate"
           th:value="${findCrew.title}">
    <label for="crewContentsUpdate">내용</label>
    <textarea name="crewContentsUpdate" id="crewContentsUpdate" class="crewContentsUpdate"
              th:text="${findCrew.contents}"></textarea>
    <button type="submit" class="crewUpdateSubmit">수정</button>
    <button type="reset" class="crewUpdateReset">취소</button>
  </form>
  <br>
  <h3>delete</h3>
  <form action="#" th:action="@{/board/crew/delete}" th:method="delete" th:each="findCrew : ${findCrewList}">
    <label for="crewNumberDelete">글번호</label>
    <input type="text" name="crewNumberDelete" id="crewNumberDelete" class="crewNumberDelete"
           th:value="${findCrew.getBoard_idx()}"
           readonly>
    <label for="crewTitleDelete">제목</label>
    <input type="text" name="crewTitleDelete" id="crewTitleDelete" class="crewTitleDelete"
           th:value="${findCrew.title}">
    <label for="crewContentsDelete">내용</label>
    <textarea name="crewContentsDelete" id="crewContentsDelete" class="crewContentsDelete"
              th:text="${findCrew.contents}"></textarea>
    <button type="submit" class="crewDeleteSubmit">삭제</button>
  </form>
</div>


</body>
</html>